name: CI

on: [push]

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    container: ubuntu:latest
    steps:
      - uses: actions/checkout@v4
      - name: Install required base package
        run: |
          DEBIAN_FRONTEND=noninteractive
          apt-get update -y
          apt-get install -y sudo
      - name: Install dotfiles
        run: ./install.sh

  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dotfiles
        run: |
          # Skip GUI applications in CI environment
          export CI=true
          ./install.sh
